* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;   
}

#navbar__logo {
    color: #06913b;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    background-size: 100%;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 4px;
    background: #06913b;
    color: #ffffff;
}

.button:hover{
    background: #44c24f;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #06913b;
    transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        padding: 0;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #ffffff;
        display: block;
        cursor: pointer;
    }

    .navbar__item {
        display: none;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
}

.main {
    background-color: #ffffff;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    padding: 0 50px;
    max-width: 100vw;
}

.main__content h1 {
    font-size: 4rem;
    color: #06913b;
}

.main__content h2 {
    font-size: 2rem;
    color: #44c24f;
}

.main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #131313;
}

#main__img {
    height: 110%;
    width: 100%;
    margin-left: 2rem;
}

@media screen and (max-width: 800px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 2.3rem;
    }

    .main__content p {
        margin-top: 1rem;
    }

    #main__img {
        display: none;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding-bottom: 1rem;
    max-height: 1rem;
}

.footer p {
    font-size: 10px;
    font-weight: 500;
    color: #131313;

}

.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__links img {
    height: 80%;
    width: 80%;
    max-height: 2rem;
    cursor: pointer;
}

.main__sobre {
    background-color: #ffffff;
}

.main__container__sobre {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    padding: 0 50px;
    max-width: 100vw;
}

.main__content__sobre h1 {
    font-size: 2rem;
    color: #06913b;
}

.main__content__sobre h2 {
    font-size: 1rem;
    color: #131313;
}

.main__melhores {
    background-color: #ffffff;
}

.main__container__melhores {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    padding: 0 50px;
    max-width: 100vw;
}

.main__content__melhores h1 {
    font-size: 3rem;
    color: #06913b;
}

.metal h1{
    font-size: 2rem;
    color: #494949; 
}

.metal h2 {
    font-size: 1.5rem;
    color: #494949; 
}
.fantasma h1{
    font-size: 2rem;
    color: #780fa8; 
}

.fantasma h2 {
    font-size: 1.5rem;
    color: #780fa8; 
}

.dragao h1{
    font-size: 2rem;
    color: #13036d; 
}

.dragao h2 {
    font-size: 1.5rem;
    color: #13036d; 
}

.lutador h1{
    font-size: 2rem;
    color: #800303; 
}

.lutador h2 {
    font-size: 1.5rem;
    color: #800303; 
}

.grama h1{
    font-size: 2rem;
    color: #15861f; 
}

.grama h2 {
    font-size: 1.5rem;
    color: #15861f; 
}

.fogo h1{
    font-size: 2rem;
    color: #ff2306; 
}

.fogo h2 {
    font-size: 1.5rem;
    color: #ff2306; 
}

.agua h1{
    font-size: 2rem;
    color: #2f44fd; 
}

.agua h2 {
    font-size: 1.5rem;
    color: #2f44fd; 
}

.eletrico h1{
    font-size: 2rem;
    color: #a1ac0d; 
}

.eletrico h2 {
    font-size: 1.5rem;
    color: #a1ac0d; 
}

.normal h1{
    font-size: 2rem;
    color: #757575; 
}

.normal h2 {
    font-size: 1.5rem;
    color: #757575; 
}

.pedra h1{
    font-size: 2rem;
    color: #6e5d5d; 
}

.pedra h2 {
    font-size: 1.5rem;
    color: #6e5d5d; 
}

.inseto h1{
    font-size: 2rem;
    color: #6d9e2d; 
}

.inseto h2 {
    font-size: 1.5rem;
    color: #6d9e2d; 
}

.terra h1{
    font-size: 2rem;
    color: #743612; 
}

.terra h2 {
    font-size: 1.5rem;
    color: #743612; 
}

.fada h1{
    font-size: 2rem;
    color: #ec54d3; 
}

.fada h2 {
    font-size: 1.5rem;
    color: #ec54d3; 
}

.psiquico h1{
    font-size: 2rem;
    color: #b807af; 
}

.psiquico h2 {
    font-size: 1.5rem;
    color: #b807af; 
}

.voador h1{
    font-size: 2rem;
    color: #028aac; 
}

.voador h2 {
    font-size: 1.5rem;
    color: #028aac; 
}

.gelo h1{
    font-size: 2rem;
    color: #47c3e2; 
}

.gelo h2 {
    font-size: 1.5rem;
    color: #47c3e2; 
}

.sombrio h1{
    font-size: 2rem;
    color: #000000; 
}

.sombrio h2 {
    font-size: 1.5rem;
    color: #000000; 
}

.veneno h1{
    font-size: 2rem;
    color: #5103b6; 
}

.veneno h2 {
    font-size: 1.5rem;
    color: #5103b6; 
}

.lendario h1{
    font-size: 2rem;
    color: #2b6d6d; 
}

.lendario h2 {
    font-size: 1.5rem;
    color: #2b6d6d; 
}